*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #928E9D;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3em;
}

#calc {
    width: 400px;
    padding: .5em;
    background-color: #FFE6EA;
    color: #9991AD;
    display: flex;
    flex-direction: column;
}

#calc h3 {
    font-size: .8em;
    font-weight: 300;
    color: #9991AD;
}

#operations {
    text-align: right;
}

#previous-operation, #current-operation {
    min-height: 1.6em;
    padding: 0.2em;
    overflow-wrap: break-word;
}

#previous-operation {
    color: #B3ADC0;
}

#current-operation {
    font-size: 3em;
    font-weight: 700;
}

#buttons-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 3px;
}

#buttons-container button {
    border: 1px solid transparent;
    border-radius: 0;
    height: 4em;
    font-size: 1.2em;
    background-color: #E2FED6;
    cursor: pointer;
}

#buttons-container .number {
    background-color: #ffffff;
}

#buttons-container button:hover {
    background-color: #E7DDFF;
    border-color: #999;
}

#buttons-container #equal-btn {
    grid-column: span 2;
    background-color: #C8F1F3;
}

#buttons-container #equal-btn:hover {
    background-color: #BBDFDF;
}